@{
    ViewData["Title"] = "Confirmation";
}

<h3>Thank you for signing up for an appointment. To view your appointments, click on the "Appointments" 
    tab above. To submit another, click on the "Sign Up" tab.</h3>
