
@{
}
@model List<Appointment>

<h2>Pick a time from the available slots below</h2>


@foreach (var x in Model)
{
    <div>
        <form method="get">
            <input type="hidden" asp-for="@x.AppointmentId" />
            <button type="submit" class="btn btn-info btn-lg btn-block mt-2">@x.TimeSlot</button>
        </form>
    </div>
}

