

@model List<Tourist>

@{

    DateTime thisDay = DateTime.Today;
    var today = thisDay.ToString("d");
    var startTime = DateTime.Parse(today + " 08:00:00");
    var endTime = startTime.AddHours(12);

}

<div class="container">


   <input type="date" name="appt_date" id="appt_date" onchange="console.log(this.value);" />

   

    


    @while (startTime <= endTime)
    {
        @foreach (var x in Model)
        {
            @if (startTime.ToString("s") == x.AppointmentStart)
            {
                startTime = startTime.AddHours(1);
            }
            else
            {
                <div class="col">
                    <form method="get">
                        <input type="hidden" asp-route-appointmentstart="@startTime.ToString("s")" />
                        <button type="submit" class="btn btn-info btn-lg btn-block mt-2" asp-action="TouristInfo">@startTime.ToString("t") - @startTime.AddHours(1).ToString("t")</button>
                    </form>
                </div>
                startTime = startTime.AddHours(1);
            }

        }


    }


</div>