@model Tourist
<!-- THIs is where my form goes pulling info from laytons project.-->
<div class="container d-flex justify-content-center">
    <div>
        <h1>Please fill out your information</h1>

        <h4>@ViewBag.Tourists</h4>

        <form method="Post">
            <input type="hidden" value="@Model.AppointmentStart" asp-for="AppointmentStart" />

            <div class="form-floating">
                <label asp-for="GroupName">Group Name: </label>
                <input type="text" class="form-control" asp-for="GroupName" asp-controller="Home" />

            </div>
            <div class="form-floating">
                <label asp-for="SizeOfGroup">Group Size: </label>
                <input type="number" class="form-control" asp-for="SizeOfGroup" asp-controller="Home" />

            </div>
            <div class="form-floating">
                <label asp-for="EmailAddress">Email Address: </label>
                <input type="email" class="form-control" asp-for="EmailAddress" asp-controller="Home" />

            </div>

            <div class="form-floating">
                <label asp-for="PhoneNumber">Phone Number: </label>
                <input type="text" class="form-control" asp-for="PhoneNumber" asp-controller="Home" />

            </div>
            <button class="btn btn-primary" type="submit">Submit your info</button>
        </form>
    </div>
</div>