@{
}

<table class="table table-bordered table-hover">
    <thead>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
    </thead>
    <tbody>
        <td>Data</td>
        <td>Data</td>
        <td>Data</td>
    </tbody>
</table>